.infarmation {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 20rem;
  @include responsive(tablet) {
    padding-bottom: 14.5rem;
  }
  @include responsive(phone) {
    padding-bottom: 12rem;
  }

  &__img {
    position: absolute;
    top: 4.8rem;
    left: -2rem;
    z-index: -1;

    @include responsive(tablet) {
      display: none;
    }
  }

  &__img2 {
    display: none;
    @include responsive(tablet) {
      display: block;
      position: absolute;
      left: 15%;
      top: -12.2rem;
      z-index: -1;
    }

    @include responsive(m-tablet) {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;

    @include responsive(tablet) {
      flex-direction: column;
    }
  }

  &__item {
    @include responsive(tablet) {
      display: flex;
      justify-content: center;
      max-width: 573px;
      width: 100%;
    }
    @include responsive(m-tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
    @include responsive(phone) {
      max-width: 311px;
      width: 100%;
    }
  }

  &__item:not(:last-child) {
    margin-right: 3rem;

    @include responsive(tablet) {
      margin-right: 0;
      margin-bottom: 4rem;
    }

    @include responsive(phone) {
      margin-bottom: 4.8rem;
    }
  }

  &__item-inner {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $yellow-color;
    margin-bottom: 4rem;
    @include responsive(tablet) {
      width: 96px;
      margin-right: 7.9rem;
      margin-bottom: 0;
    }

    @include responsive(m-tablet) {
      margin-right: 3rem;
    }

    @include responsive(phone) {
      margin-right: 0;
      margin-bottom: 2.4rem;
    }

    &__item-inner img {
      object-fit: contain;
    }
  }

  &__item-info {
    max-width: 350px;
    width: 100%;
    @include responsive(tablet) {
      max-width: 398px;
    }
  }

  &__title {
    margin-bottom: 2.7rem;

    @include responsive(phone) {
      margin-bottom: 2.4rem;
      font-size: 2rem;
      line-height: 1.4;
    }
  }
}
