.location {
  padding-bottom: 12rem;
  @include responsive(phone) {
    padding-bottom: 7.2rem;
  }

  &__img1 {
    margin-bottom: 12rem;
    @include responsive(tablet) {
      margin-bottom: 6.4rem;
    }
    @include responsive(phone) {
      display: none;
    }
  }

  &__img2 {
    display: none;
    @include responsive(phone) {
      display: block;
      margin-bottom: 4rem;
    }
  }

  &__list {
    display: none;
    @include responsive(phone) {
      display: block;
      margin-bottom: 7.2rem;
    }
  }

  &__item {
    @include responsive(phone) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item:not(:last-child) {
    @include responsive(phone) {
      margin-bottom: 1.6rem;
    }
  }

  &__item-btn {
    @include responsive(phone) {
      padding: 2.2rem 10rem;
      background-color: rgba(252, 183, 43, 0.15);
      color: $dark-navy;
      font-size: 2.4rem;
      letter-spacing: -1.07143px;
      line-height: 1.17;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    @include responsive(tablet) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__title {
    margin-right: 3rem;
    @include responsive(tablet) {
      margin-right: 0;
      margin-bottom: 4rem;
    }
    @include responsive(phone) {
      margin-bottom: 3.2rem;
      letter-spacing: -1.42857px;
      font-size: 3.2rem;
    }
  }

  &__text {
    max-width: 450px;
    width: 100%;
    margin-right: 10.5rem;
    @include responsive(tablet) {
      margin-right: 0;
      margin-bottom: 4rem;
      max-width: 573px;
    }
    @include responsive(phone) {
      margin-bottom: 3.2rem;
    }
  }

  &__btn {
    padding: 1.4rem 4.5rem;
  }
}
