.btn {
  color: $white-color;
  background-color: $yellow-color;
  font-weight: 700;
  text-align: center;
  font-family: $secondary-font;
  transition: all 0.3s ease;
  border: 3px solid transparent;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    border: 3px solid $yellow-color;
    color: $yellow-color;
  }

  &:active {
    opacity: 0.6;
  }
}
